**/Homework_28-11-2022_CallApplyBind/node_modules
**/Homework_30-11-2022_Fibonacci/node_modules
**/Homework_1-12-2022_Gameboard/node_modules
**/Homework_2-12-2022_Gameboard + Bishop/node_modules
**/Homework_5-12-2022_Inversify/node_modules
**/Homework_7-12-2022_Onion_TypeORM_InversifyJS/node_modules
**/Homework_7-12-2022_Onion_Architecture
**/Homework_7-12-2022_TypeORM
**/Homework_14-12-2022_Liskov/node_modules
**/Project_12-12-2022_Snake_API/node_modules
**/Homework_03-02-2023_RabbitMQ/node_modules
**/MyTsExpressApp
**/Test
dist/
**/**/*.log

**/FinalWork/Downloader/node_modules
**/FinalWork/Downloader/.env
**/FinalWork/Downloader/databse.sqlite
**/FinalWork/Downloader/src/quicktest.ts
**/FinalWork/RabbitMQ/data
**/FinalWork/Uploader/node_modules
**/FinalWork/Uploader/.env
**/FinalWork/Uploader/uploads
**/FinalWork/Stats/node_modules
**/FinalWork/Stats/.env